.hidden-element
{
   display:none;
}
.glyphicon:before {
     visibility: visible;
}
.glyphicon.glyphicon-star-empty:checked:before {
    content: "\e006";
    color: #D7DF01;
}
input[type=checkbox].glyphicon{
     visibility: hidden;        
}
.rating-star{
	color: dark-grey;
	font-size: 25px;
}