<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>di.concordia</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>di13</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>CP+25Gf/</param-value>
  </context-param>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:postgresql://datainfo.ewi.utwente.nl:5432/di13</param-value>
  </context-param>
  <servlet>
    <description>Login Servlet</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>coreServlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Activation Servlet</description>
    <display-name>ActivationServlet</display-name>
    <servlet-name>ActivationServlet</servlet-name>
    <servlet-class>coreServlets.ActivationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivationServlet</servlet-name>
    <url-pattern>/activateAccount</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>Reservation Add Servlet</description>
    <display-name>ReservationAddServlet</display-name>
    <servlet-name>ReservationAddServlet</servlet-name>
    <servlet-class>coreServlets.ReservationAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationAddServlet</servlet-name>
    <url-pattern>/reserveer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>coreServlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>coreServlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>coreServlets.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/reservations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationRemoveServlet</servlet-name>
    <servlet-class>coreServlets.ReservationRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationRemoveServlet</servlet-name>
    <url-pattern>/removeReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubscriptionServlet</servlet-name>
    <servlet-class>coreServlets.SubscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscriptionServlet</servlet-name>
    <url-pattern>/subscriptions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>coreServlets.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/klantservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExpositionAddServlet</servlet-name>
    <servlet-class>coreServlets.ExpositionAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpositionAddServlet</servlet-name>
    <url-pattern>/voegToeExpositie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExpositionRemoveServlet</servlet-name>
    <servlet-class>coreServlets.ExpositionRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpositionRemoveServlet</servlet-name>
    <url-pattern>/verwijderUitExpositie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExternalArtAddServlet</servlet-name>
    <servlet-class>coreServlets.ExternalArtAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExternalArtAddServlet</servlet-name>
    <url-pattern>/externUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>coreServlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatServlet</servlet-name>
    <servlet-class>coreServlets.StatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatServlet</servlet-name>
    <url-pattern>/stats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExpositionServlet</servlet-name>
    <servlet-class>coreServlets.ExpositionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpositionServlet</servlet-name>
    <url-pattern>/expositie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminExpositionServlet</servlet-name>
    <servlet-class>coreServlets.AdminExpositionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminExpositionServlet</servlet-name>
    <url-pattern>/adminExpositie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>coreServlets.RemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArtServlet</servlet-name>
    <servlet-class>coreServlets.ArtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtServlet</servlet-name>
    <url-pattern>/voegtoe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>subscription</servlet-name>
    <jsp-file>/subscriptions.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>subscription</servlet-name>
    <url-pattern>/subscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/registerpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <jsp-file>/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/loguit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>
